[*.{cs,vb}]

# IDE0028: Упростите инициализацию коллекции
dotnet_diagnostic.IDE0028.severity = none

# IDE0305: Упростите инициализацию коллекции
dotnet_diagnostic.IDE0305.severity = none

# IDE0057: Использовать оператор диапазона
dotnet_diagnostic.IDE0057.severity = none

# IDE0306: Упростите инициализацию коллекции
dotnet_diagnostic.IDE0306.severity = none
